:root {
    --black-1: #0d0d0d;
    --black-2: #1f1f1f;
    --black-3: #313131;

    --white-1: #fafafa;
    --white-2: #eff2f6;
    --white-3: #e5e7eb;
    
    /*メインになる色。リンク、ボタン、枠線などに使用*/
    --primary-1: #818FB4;
    /*ボタンやリンクをホバーしたときに変わる色*/
    --primary-2: #435585;
    /*メイン色が背景色の時に文字の色になる*/
    --primary-text: var(--white-1);
    
    /*サブの色。固定表示投稿のラベル、現在ページ、検索のハイライトなどに使用*/
    --secontary-1: #FFE3BB;
    /*鍵付き投稿のラベル、見出しの下線などに使用*/
    --secontary-2: #FFD28F;
    /*サブの色が背景色になるときの文字色*/
    --secontary-text: #363062;
    
    /* 鍵付き投稿の入力間違い、下書き投稿のラベル */
    /*背景色*/
    --warning:#FF8F8F;
    /*文字色*/
    --warning-text:var(--black-2);

    /*鍵付き投稿のパスワード入力済みのラベル*/
    /*背景色*/
    --success:#9ADE7B;
    /*文字色*/
    --success-text:var(--black-2);
  }

  /*
    ライトモードとダークモードで大きく配色を変更したい場合、
    これ以降の設定を直接変更してください。
    変数がどこに使われているかはtegalog.css、またはnew.cssを参照してください。
    new.css -> https://github.com/xz/new.css/blob/master/new.css
  */

/* ライトモード*/
[data-theme="light"],
:root:not([data-theme="dark"]) {
    --nc-tx-1: var(--black-1);
    --nc-tx-2: var(--black-2);
    --nc-bg-1: var(--white-1);
    --nc-bg-2: var(--white-2);
    --nc-bg-3: var(--white-3);
    --nc-lk-1: var(--primary-1);
    --nc-lk-2: var(--primary-2);
    --nc-lk-tx: var(--primary-text);
    --nc-ac-1: var(--secontary-1);
    --nc-ac-tx: var(--secontary-text);
}

/* ダークモード（端末の設定）*/
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --nc-tx-1: var(--white-1);
    --nc-tx-2: var(--white-2);
    --nc-bg-1: var(--black-2);
    --nc-bg-2: var(--black-1);
    --nc-bg-3: var(--black-3);
    --nc-lk-1: var(--primary-1);
    --nc-lk-2: var(--primary-2);
    --nc-lk-tx: var(--primary-text);
    --nc-ac-1: var(--secontary-1);
    --nc-ac-tx: var(--secontary-text);
  }
}

/* ダークモード（ボタンを押したとき）*/
[data-theme="dark"] {
    --nc-tx-1: var(--white-1);
    --nc-tx-2: var(--white-2);
    --nc-bg-1: var(--black-2);
    --nc-bg-2: var(--black-1);
    --nc-bg-3: var(--black-3);
    --nc-lk-1: var(--primary-1);
    --nc-lk-2: var(--primary-2);
    --nc-lk-tx: var(--primary-text);
    --nc-ac-1: var(--secontary-1);
    --nc-ac-tx: var(--secontary-text);
}