@import url(color.css);/*配色設定の読み込み*/

/* -------------------- 先に好みで設定したほうが良さそうな装飾群 -------------------- */
/*  汎用装飾(てがろぐ専用記法で書かれた文字）  */
/* E:強調(Emphasis) */
.decorationE {
    color: var(--nc-lk-1);
    font-size: 1.2em;
    font-weight: bold;
}

/* B:太字(Bold) */
.decorationB {}

/* D:削除(Delete) */
.decorationD {}

/* I:斜体(Italic) */
.decorationI {}

/* Q:引用(Quote) */
.decorationQ {
    /*この部分は固定*/
    display: block;

    /*ここから好きな感じに設定*/
    padding: 1.5rem;
    background: var(--nc-bg-2);
    border-left: 5px solid var(--nc-bg-3);
}

/* 標準で付加されてしまう引用符を無効にする（この部分は固定） */
.decorationQ::before,
.decorationQ::after {
    content: '';
}

/* 引用直後の改行を無効化する（この部分は固定） */
.decorationQ+br {
    display: none;
}

/* S:小文字(Small) */
.decorationS {}

/* T:極小文字(Tiny) 
    極小文字は、小文字と同じSmallタグで設定されていて、
    何もしないと同じ文字サイズで表示されます。
    小文字で設定している文字サイズより小さいサイズを指定してください
*/
.decorationT {
    font-size: 0.6em;
}

/* U:下線(Underline) */
.decorationU {}

/* L:リストの指定(Line) */
.decorationL {}

/* 続きを読むリンク（ボタン） */
/* ボタン枠の装飾(共通) */
a.readmorebutton {
    display: inline-block;
    text-decoration: none;
    background-color: var(--nc-lk-1);
    color: var(--nc-lk-tx);
    padding: 6px 12px;
    margin: 10px 2px;
    border-radius: 4px;
    box-sizing: border-box;
}

/* ボタンにマウスが載った際の装飾(共通) */
a.readmorebutton:hover {
    background-color: var(--nc-lk-2);
}

/* 開く（続きを読む）ボタン専用の装飾 */
.readmorebutton.readmoreopen {}

/* 閉じる（畳む）ボタン専用の装飾 */
.readmorebutton.readmoreclose {}

/* 鍵付き(パスワード保護)投稿に表示される鍵入力フォームの装飾 */
.passkeyform {}

/* 鍵違いエラーの表示 */
.passkeyerror {
    display: block;
    width: 100%;
    background-color: var(--warning);
    color: var(--warning-text);
    margin: 10px 5px;
    padding: 5px;
    text-align: center;
}

/* 入力フォーム枠 */
.passkeybox {}

/* 入力欄前のガイド文 */
.passkeyguide {}

/* 鍵入力欄 */
.passkeyinput {}

/*検索語のハイライト*/
/*好みで変更してください*/
.searchword {
    background: linear-gradient(transparent 60%, var(--nc-ac-1) 60%);
}

/* -------------------- スキン設定 -------------------- */
html {
    /*スクロールをスムーズにする*/
    scroll-behavior: smooth;
}

/* ---------------------- ヘッダーエリアの設定 ---------------------- */
header {
    position: relative;
    padding-top: 4rem;
    text-align: center;
}

header a {
    text-decoration: none;
}

header h2 {
    letter-spacing: 5px;
}

/*アイコン部分の設定*/
header .icon-img {
    margin: 20px auto;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
}

header .icon-img img {
    margin: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/*最終更新部分をヘッダーの下あたりに表示する*/
header .hujitubo_update {
    position: absolute;
    bottom: 0.5em;
    right: 1em;
}

/* ---------------------- クイック投稿フォームの設定 ---------------------- */
textarea.tegalogpost {
    font-size: 16px;
    width: 100%;
}

/*引用やリストのボタンがガタガタになるので高さを合わせる*/
.decoBtns input {
    vertical-align: middle;
    height: 2.5rem;
    margin: 2px;
}

/*日付境界バーの装飾*/
/*好みで変更してください*/
.dateseparator {
    display: none;
}


/* ----- ページナビゲーション要素 ----- */
/*ページリンク*/
.hujitubo_page-nav {
    padding: 50px 5px;
    text-align: center;
}

/*ページ番号の装飾*/
a.pagenumlink {
    text-decoration: none;
    background-color: var(--nc-lk-1);
    color: var(--nc-lk-tx);
    padding: 6px 12px;
    margin: 10px 2px;
    border-radius: 4px;
    box-sizing: border-box;
    display: inline-block;
}

/*ページ番号のをホバーしたときのみの装飾*/
a.pagenumlink:hover {
    background-color: var(--nc-lk-2);
}

/*今いるページの番号の装飾*/
a.pagenumhere {
    color: var(--nc-ac-tx);
    background-color: var(--nc-ac-1);
}

/*今いるページの番号をホバーしたときのみの装飾*/
a.pagenumhere:hover {
    color: var(--nc-lk-tx);
}

/*前のページに行くリンク*/
a.prevlink, a.nextlink {
    text-decoration: none;
    background-color: var(--nc-lk-1);
    color: var(--nc-lk-tx);
    padding: 6px 12px;
    margin: 10px 2px;
    border-radius: 4px;
    box-sizing: border-box;
    display: inline-block;
}

/*次のページに行くリンク*/
a.prevlink:hover, a.nextlink:hover {
    background-color: var(--nc-lk-2);
}

/* ---------------------- タブエリアの設定 ---------------------- */
.hujitubo_tab_area {
    margin-top: 1em;
    text-align: center;
}

/*タブの選択に必要なラジオボタンそのものを非表示にする*/
.hujitubo_tab_area input[name="hujitubo_tab_item"] {
    display: none;
}

/*タブの選択部分（ラベル）*/
.hujitubo_tab_item {
    display: inline-block;
    margin: 0 2px;
    padding: 5px 10px;
    width: fit-content;
    cursor: pointer;
    background-color: var(--nc-lk-1);
    text-align: center;
    color: var(--nc-lk-tx);
}

/*ホバーされたとき色を変える*/
.hujitubo_tab_item:hover {
    background-color: var(--nc-lk-2);
}

/*選ばれているタブの色を変える*/
input[name="hujitubo_tab_item"]:checked+.hujitubo_tab_item {
    background-color: var(--nc-ac-1);
    color: var(--nc-ac-tx);
}

/*タブの中身の設定*/
.hujitubo_tab_content {
    /*選ばれていないタブを消す*/
    display: none;

    padding: 5px 12px;
    text-align: left;
    border-style: solid;
    border-width: 2px;
    border-color: var(--nc-lk-1);
}

/*選ばれたタブを表示*/
#hujitubo_post:checked~#hujitubo_post_contants,
#hujitubo_cat:checked~#hujitubo_cat_contants,
#hujitubo_tag:checked~#hujitubo_tag_contants,
#hujitubo_menu:checked~#hujitubo_menu_contants {
    display: block;
}

/*タブ内の見出しのスタイル*/
.hujitubo_tab_disc h3::after {
    content: "";
    display: block;
    height: 5px;
    width: 100%;
    background-color: var(--secontary-2);
}

/*ハッシュタグリストを横並びにする*/
ul.hashtaglist {
    display: flex;
    gap: 2px 0.5em;
    flex-wrap: wrap;
    color: var(--nc-tx-2);
    list-style: none;

}

/* ---------------------- 投稿ひとつひとつの表示設定 ---------------------- */
.hujitubo_post_one {
    padding: 16px 12px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: var(--nc-lk-1);
}

.hujitubo_post_one:nth-last-child(1) {
    border: none;
}

/*投稿の後に短めの境界線を引く*/
.hujitubo_post_one .comment::after {
    display: block;
    content: "";
    margin: 2em auto;
    width: 50%;
    height: 1.2px;
    background-color: var(--nc-lk-1);
}

/*記事にあるユーティリティリンクの装飾*/
.utilitylinks {
    margin-bottom: 0.5rem;
    padding: 6px 12px;
    background: var(--nc-bg-2);
    color: var(--nc-tx-2);
    font-size: 0.85em;
}

/* ---------------------- 条件限定の投稿につくラベルの設定 ---------------------- */
.hujitubo_post_one .hujitubo_post-state span {
    width: fit-content;
    margin: 5px 0;
    padding: 2px 1em;
    border-radius: 15px;
    font-size: 0.8em;
}

/*不要なラベルを消す*/
.hujitubo_post-hide {
    display: none;
}

/*先頭固定*/
.hujitubo_post_one.logstatus-fixed .hujitubo_post-fix {
    display: inline-block;
    background-color: var(--secontary-1);
    color: var(--secontary-text);

}

/*下書き投稿*/
.hujitubo_post_one.logstatus-draft .hujitubo_post-draft {
    display: inline-block;
    background-color: var(--warning);
    color: var(--warning-text);
}

/*下げる投稿*/
.hujitubo_post_one.logstatus-rear .hujitubo_post-rear {
    display: inline-block;
    background-color: var(--nc-bg-3);
    color: var(--nc-tx-2);
}

/*鍵付き投稿*/
.hujitubo_post_one.logstatus-lock .hujitubo_post-lock {
    display: inline-block;
    background-color: var(--secontary-2);
    color: var(--secontary-text);
}

/*鍵付き投稿で、正しい鍵が入力された後*/
.hujitubo_post_one.logstatus-unlocked .hujitubo_post-unlocked {
    display: inline-block;
    background-color: var(--success);
    color: var(--success-text);
}

/* ---------------------- 記事のヘッダーの設定 ---------------------- */
.post-header {
    margin: 5px auto 10px;
    display: grid;
    grid-template-columns: 40px 1fr 2em;
    grid-template-rows: repeat(2, 20px);
    align-items: center;
}

.post-header a {
    text-decoration: none;
}

.hujitubo_user-icon {
    grid-area: 1 / 1 / 3 / 2;
}

.hujitubo_user-name_area {
    grid-area: 1 / 2 / 2 / 4;
}

.hujitubo_date {
    grid-area: 2 / 2 / 3 / 3;
}

.hujitubo_head_ex {
    grid-area: 2 / 3 / 3 / 4;
}

.hujitubo_user-icon img {
    border-radius: 50%;
    margin: 2px;
}

.hujitubo_head_ex {
    text-align: end;
}

/* ---------------------- 投稿ひとつひとつのフッター部分 ---------------------- */
.hujitubo_post_one .post-fotter {
    text-align: end;
    padding: 5px 2px;
    font-size: 0.85em;
}

/*共有ボタン*/
.hujitubo_post_one .hujitubo_share_item {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    justify-content: flex-end;
    align-content: center;
    align-items: flex-end;
}

.hujitubo_post_one .hujitubo_share_item button {
    font-size: 0.9em;
}

/*カテゴリーとハッシュタグの部分*/
.hujitubo_post_one .post-fotter :is(.hujitubo_post_cat, .hujitubo_post_tag) a {
    padding: 2px 5px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--nc-lk-1);
    text-decoration: none;
    line-height: 2;
}

/*ホバーしたとき色を変更する*/
.hujitubo_post_one .post-fotter :is(.hujitubo_post_cat, .hujitubo_post_tag) a:hover {
    background-color: var(--nc-lk-1);
    color: var(--nc-lk-tx);
}

/* ---------------------- 一番上の固定メニュー ---------------------- */
aside {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    gap: 0.5em;
    position: fixed;
    top: 0;
    left: 0;
    padding: 5px 0;
    width: 100%;
    background-color: var(--nc-bg-2);
    font-size: 1.2em;
}

.hujitubo_aside_wrap :nth-child(1) {
    padding: 0 3px;
}


/* ---------------------- フッターエリアの設定 ---------------------- */
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    gap: 0 0.5em;
    font-size: 0.9em;
}

footer p {
    margin: 0;
}

/*フッターの注意書きの部分*/
.hujitubo_fotter-note {
    width: 100%;
    text-align: center;
    font-weight: bold;
}

/* -------------------- 埋め込み・画像関連 --------------------  */
/*投稿に含まれる画像のサイズを設定*/
.embeddedimage {
    max-width: 100%;
    height: auto;
}

/*新着画像リストをグリッド表示・サイズの設定*/
.imagelistitem {
    display: inline-flex;
    width: 120px;
    height: 120px;
    margin: 2px;
}

/*新着画像リストをサムネイル表示*/
.imagelistitem .oneimage {
    width: 100%;
    height: auto;
    -o-object-fit: cover;
    object-fit: cover;
    aspect-ratio: 1/1;

}

/*NSFW 画像のぼかしのはみ出しを防ぐ*/
.imagelistitem, .imagelink {
    display: inline-block;
    overflow: hidden;
}

/*NSFWフラグ付き画像のフィルター（モノクロ化＋ぼかし）*/
/*好みで変更してください*/
img.nsfw {
    -webkit-filter: grayscale(1) blur(20px);
    filter: grayscale(1) blur(20px);
}

/*
    YouTube,Spotify以外にも埋め込み用の機能はありますが、（applemusicやTwitterなど）
    他のサービスは自動で横幅のはみだしを調整することや、
    CGIの設定から変更可能（Spotify）のため、特に設定しなくても問題ありません。
*/
/* 埋め込み動画（YouTube） */
.embeddedmovie {
    width: 100%;
    aspect-ratio: 16 / 9;
}

.embeddedmovie iframe {
    width: 100%;
    height: 100%;
}

/*埋め込み動画（Spotify）*/
.embeddedspotify iframe {
    max-width: 100%;
}

/* ---------------------- ローディング（読み込み）アニメ ---------------------- */
#loading {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    transition: all 1s;
    background-color: var(--nc-lk-1);
    /*真ん中寄せ*/
    display: flex;
    align-items: center;
}

/*読み込み終わったら消す*/
.loaded {
    opacity: 0;
    visibility: hidden;
}

/* ローディングアニメーション */
.load_anime {
    width: 30px;
    height: 30px;
    margin: 0 auto;
    border: 5px solid var(--nc-bg-1);
    border-right: 5px solid transparent;
    border-radius: 50%;
    animation: rotate 1s linear infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

/* ---------------------- カスタム絵文字一覧をスキン側で表示する ---------------------- */
/*全体*/
.cemojipicker {
    /*ボタンを押すと表示するため基本は非表示に*/
    display: none;
    margin: 10px 0;
    width: 100%;
    max-height: 250px;
    padding: 2px 5px;
    background-color: var(--nc-bg-2);
    text-align: center;
    /*最大の高さ（max-height）を超えたときスクロールバーを表示する*/
    overflow-y: auto;
}

/*ボタンを押したら表示される*/
#hujitubo_ce:checked~.cemojipicker {
    display: block;
}

/*表示する絵文字のサイズ*/
.cemojipicker img {
    height: 2em;
    margin: 4px;
}

/*絵文字をクリックしたらちょっと小さくなる*/
.cemojipicker img:active {
    transform: scale(0.8);
}

/* クイック投稿フォーム周りに配置したときにボタンの配置を調整 */
.hujitubo_quick-post form {
    margin-bottom: 0.3em;
}

/*ボタンをクリックしたら絵文字リストが表示されるように設定*/
.hujitubo_ce_btn {
    display: inline-block;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    background: var(--nc-lk-1);
    color: var(--nc-lk-tx);
    font-size: 1.1rem;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
}

.hujitubo_ce_btn:hover {
    background-color: var(--nc-lk-2);
}

/*ラジオボタン自体を非表示に*/
input#hujitubo_ce {
    display: none;
}

/* ---------------------- ページ番号で記事をリンクすると、リンク先の記事を引用する ---------------------- */
a.postidlink+div {
    margin: 0.5em 0.2em 0.5em 1em;
    padding: 1.5rem;
    background: var(--nc-bg-2);
    border-left: 5px solid var(--nc-bg-3);
}

/* ---------------------- ダークモードを適用 ---------------------- */
#toggle-theme-button {
    cursor: pointer;
    width: fit-content;
    color: var(--nc-lk-1);

}

#toggle-theme-button::after {
    font-family: "Font Awesome 5 Free";
    content: '\f186';
    font-weight: 400;
    display: inline-block;
}

[data-theme="dark"] #toggle-theme-button::after {
    font-family: "Font Awesome 5 Free";
    content: '\f185';
    font-weight: 400;
}


/* ---------------------- URLコピーボタンで、コピーに成功したらツールチップを出す ---------------------- */
.post-share {
    position: relative;
}

.tooltip::after {
    /*コピーできたらコメントを表示*/
    content: 'Copied!';
    display: inline-block;
    position: absolute;
    left: 50%;
    top: -12px;
    padding: 5px 10px;
    background: var(--nc-tx-1);
    border-radius: 2px;
    color: var(--nc-bg-1);
    font-size: .7rem;
    transform: translate(-50%, 0);
    animation: fade-tooltip .5s 1s 1 forwards;
}

@keyframes fade-tooltip {
    to {
        opacity: 0;
    }
}

/*EOF*/